.vscode/
**/debug
**/qa_pairs
**/__pycache__/
.venv/
**/output*/
fine_tuning/*.md
**/*Zone.Identifier
**/README.md
**/tests/temp_data/
delete_by_hash.py
.beamignore
finetune-gemma-beam.py
mock_chatbot_server.py
app.py